<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - OIDOCOCINA</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/themes/base/css")
<link href="https://fonts.googleapis.com/css2?family=Atma:wght@700&family=Buenard:wght@700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="~/Content/estilos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top navbar-expand-lg">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index", "Home")" class="navbar-brand titulo">
                    <img style="width:40px;height:40px" alt="" src="~/Content/Icons/logo_white.png" /><span style="color:white;font-family: 'Atma', cursive;"> OIDOCOCINA</span>
                </a>
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")
                <ul class="nav navbar-nav" style="">

                    <li>@Html.ActionLink("Lista de locales", "Lista", "Locales")</li>

                    @if (User.IsInRole("Local"))
                    {
                        <li>@Html.ActionLink("Gestión de reservas", "ReservasPorLocal", "Reservas")</li>
                        <li>@Html.ActionLink("Gestión de mesas", "MesasPorLocal", "Mesas")</li>
                        <li>@Html.ActionLink("Galería", "Index", "Galeria")</li>
                        <li>@Html.ActionLink("Noticias", "Index", "Noticias")</li>
                        <li>@Html.ActionLink("Modificar información", "Edit_Local", "Locales")</li>


                    }
                    else if (User.IsInRole("Usuario"))
                    {

                        <li>@Html.ActionLink("Consultar reservas", "Index", "Reservas")</li>
                        <li>@Html.ActionLink("Modificar información", "Edit_Usuario", "Usuarios")</li>

                    }
                    else if (User.IsInRole("Administrador"))
                    {

                        <li> @Html.ActionLink("Control de usuarios", "Admin", "Usuarios") </li>
                        <li> @Html.ActionLink("Control de locales", "Admin", "Locales") </li>
                        <li> @Html.ActionLink("Control de reservas", "Admin", "Reservas") </li>

                    }
                    <li> @Html.ActionLink("Contacto", "Contact", "Home") </li>
                </ul>

                <div>

                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div><p>&copy; @DateTime.Now.Year - OIDOCOCINA</p></div>
            <div><a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Licencia de Creative Commons" style="border-width:0;height:auto!important;width:auto!important" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a></div>
            <div>
                <ul>
                    <li>@Html.ActionLink("Términos y condiciones", "Condiciones", "Home")</li>
                    <li>@Html.ActionLink("Contacto con el soporte", "Contact", "Home")</li>
                </ul>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/lightbox")
    <script src="https://kit.fontawesome.com/9db7eab9de.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</body>
</html>